{% load staticfiles %}
<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="{% static 'semantic.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'components/icon.min.css' %}">
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'semantic.js' %}"></script>
<script src="{% static 'd3/d3.tip.v0.6.3.js' %}"></script>

<style>
    body{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-left:20px;
        padding-right:20px;
        font-size:17px;
    }

    .dot circle {
        fill: lightsteelblue;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .dot circle.dragging {
        fill: red;
        stroke: brown;
    }

    .axis line {
        fill: none;
        stroke: #ddd;
        shape-rendering: crispEdges;
        vector-effect: non-scaling-stroke;
    }


    .d3-tip {
        line-height: 1;
        padding: 7px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
        font-size: 10px;
    }

</style>
<body>
<div class="ui text menu">
    <div class="header item">
        <h1 class="title">Color Pallete For People</h1>

    </div>
    <div class="item">

        <div class="ui search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>
</div>




<script>

    var margin = {top: -5, right: -5, bottom: -5, left: -5},
            width = $('body').width() - margin.right - margin.left,
            height = $(document).height() - margin.top - margin.bottom - $('.title').height() * 3;

    var drag = d3.behavior.drag()
            .origin(function(d) { return d; })
            .on("dragstart", dragstarted)
            .on("drag", dragged)
            .on("dragend", dragended);

    var svg = d3.select("body").append("svg")
            .attr("class", "pallette")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.right + ")")

    var rect = svg.append("rect")
            .attr("width", width)
            .attr("height", height)
            .style("fill", "none")
            .style("pointer-events", "all");

    var container = svg.append("g");

    container.append("g")
            .attr("class", "x axis")
            .selectAll("line")
            .data(d3.range(0, width, 10))
            .enter().append("line")
            .attr("x1", function(d) { return d; })
            .attr("y1", 0)
            .attr("x2", function(d) { return d; })
            .attr("y2", height);

    container.append("g")
            .attr("class", "y axis")
            .selectAll("line")
            .data(d3.range(0, height, 10))
            .enter().append("line")
            .attr("x1", 0)
            .attr("y1", function(d) { return d; })
            .attr("x2", width)
            .attr("y2", function(d) { return d; });



    var svg_width = $(".pallette").width();
    var svg_height = $(".pallette").height();
    var margin_x = svg_width/5;
    var margin_y = svg_height/4;
    var circle_r = svg_width/7
    console.log(svg_width);


    var color = d3.scale.category10();
    var opacity = 0.5;

    container.append("circle")
            .attr("cx", 0)
            .attr("cy", 0)
            .attr("fill", color(0))
            .attr('fill-opacity', opacity)
            .attr("r", circle_r);

    container.append("circle")
            .attr("cx", svg_width)
            .attr("cy", 0)
            .attr("fill", color(1))
            .attr('fill-opacity', opacity)
            .attr("r", circle_r);

    container.append("circle")
            .attr("cx", 0)
            .attr("cy", svg_height)
            .attr("fill", color(2))
            .attr('fill-opacity', opacity)
            .attr("r", circle_r);

    container.append("circle")
            .attr("cx", svg_width)
            .attr("cy", svg_height)
            .attr("fill", color(3))
            .attr('fill-opacity', opacity)
            .attr("r", circle_r);

    var tip = d3.tip().attr('class', 'd3-tip').html(function(d){

        return d.name;
    });
    container.call(tip);

    d3.json('/treemap_domain/', function(error, people){
        console.log(people);

        var dots = [];
        var content = [];
        for(var i in people){

            var x = Math.random() * (svg_width - 2*margin_x) + margin_x;
            var y = Math.random() * (svg_height - 2*margin_y) + margin_y;

            dots.push({"name":people[i], "x":x, "y":y, index:i});
            content.push({title: people[i], index:i});

        }


        dot = container.append("g")
                .attr("class", "dot")
                .selectAll("circle")
                .data(dots)
                .enter().append("circle")
                .attr("class", function(d){
                    return d.index;
                })
                .attr("r", 10)
                .attr("cx", function(d) {
                    return d.x; })
                .attr("cy", function(d) { return d.y; })
                .on('mouseover', function(d){
                    tip.show(d, dot[0][d.index]);

                })
                .on('mouseout', tip.hide)
                .call(drag);


        //Search
        $('.ui.search')
                .search({
                    source: content,
                    onSelect:function(result, response){

                        for(var i in content){
                            $("." + i).css("fill", "lightsteelblue");
                        }

                        console.log($("." + result.index));
                        $("." + result.index).css("fill", "black");
                        tip.show(dots[result.index], dot[0][result.index]);
                    }
                });

    });


    function dottype(d) {
        d.x = +d.x;
        d.y = +d.y;
        return d;
    }

    function dragstarted(d) {
        d3.event.sourceEvent.stopPropagation();
        d3.select(this).classed("dragging", true);
    }

    function dragged(d) {

        d3.select(this).attr("cx", d.x = d3.event.x).attr("cy", d.y = d3.event.y);

        tip.show(d, dot[0][d.index]);

    }

    function dragended(d) {
        d3.select(this).classed("dragging", false);

        var dx = d3.select(this).attr("cx");
        var dy = d3.select(this).attr("cy");
        console.log(d.name);
        var group = circle_check(dx, dy);
        $.ajax({
            method : "POST",
            url : "../pallette_assign/",
            data : {'col':group, 'author': d.name}
        })

    }

    function circle_check(dx, dy){

        var r1 = Math.sqrt(dx*dx + dy*dy);
        var r2 = Math.sqrt((dx-svg_width)*(dx-svg_width) + dy*dy);
        var r3 = Math.sqrt(dx*dx + (dy-svg_height)*(dy-svg_height));
        var r4 = Math.sqrt((dx-svg_width)*(dx-svg_width) + (dy-svg_height)*(dy-svg_height));

        if(r1 < circle_r){
            return 1;
        }
        else if(r2 < circle_r){
            return 2;
        }
        else if(r3 < circle_r){
            return 3;
        }
        else if(r4 < circle_r){
            return 4;
        }

        return 0;
    }




</script>